<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <style>
        #contatos {
            display: grid;
            grid-template-columns: 2;
        }
    </style>

    <div id="tela">
        <div id="conteudoPrincipal">
            <div id="menu">
                <a href="/">Home</a>
                <a href="/navegador">Navegador</a>
                <a href="/contatos">Contatos</a>
                <a href="/musica">Música</a>
            </div>

            <h1 style="margin-left: 5px">Agenda de contatos</h1>

            <div id="contatos">
                <div class="card">
                    <p>Contato 1</p>
                </div>
                <div class="card">
                    <p>Contato 2</p>
                </div>
                <div class="card">
                    <p>Contato 3</p>
                </div>
                <div class="card">
                    <p>Contato 4</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>