<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <div id="tela">
        <div id="conteudoPrincipal">
            <div id="menu">
                <a href="/">Home</a>
                <a href="/navegador">Navegador</a>
                <a href="/contatos">Contatos</a>
                <a href="/musica">Música</a>
            </div>

            <h1>Home</h1>
        </div>
    </div>
</body>
</html>