<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <style>
        #musicaTocando {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

    <div id="tela">
        <div id="conteudoPrincipal">
            <div id="menu">
                <a href="/">Home</a>
                <a href="/navegador">Navegador</a>
                <a href="/contatos">Contatos</a>
                <a href="/musica">Música</a>
            </div>

            <h1 style="margin-left: 5px; margin-top: 80px;">Sessão de músicas</h1>
            
            <div id="musicaTocando">
                <div class="circulo">←</div>

                <div class="card">
                    <h3>Nome da música</h3>
                    <p>Informações sobre a música</p>
                </div>

                <div class="circulo">→</div>
            </div>

            <div id="proximasMusicas" style="margin-left: 5px;">
                <h4>Próximas a serem tocadas</h4>
                <p>Passo bem solto</p>
                <p>Rap do Minecraft</p>
                <p>Smells Like Teen Spirit</p>
            </div>
        </div>
    </div>
</body>
</html>