<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <style>
        #menuSuperior {
            display: flex;
            justify-content: space-between;
            margin: 5px;
        }

        #direita {
            display: flex;
            gap: 2px;
        }
    </style>

    <div id="tela">
        <div id="conteudoPrincipal">
            <div id="menu">
                <a href="/">Home</a>
                <a href="/navegador">Navegador</a>
                <a href="/contatos">Contatos</a>
                <a href="/musica">Música</a>
            </div>

            <div id="menuSuperior">
                <div id="esquerda">
                    <div class="circulo">🏠</div>
                </div>

                <div id="direita">
                    <div class="circulo">😛</div>
                    <div class="circulo">|6|</div>
                </div>
            </div>

            <div id="searchBox">
                <span class="searchIcon">🔍</span>
                <input type="text" placeholder="Buscar" id="buscar">
            </div>
        </div>
    </div>
</body>
</html>